{% extends "base_app.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Hi {{ user_name }}, here are your tasks:</h1>
    {% if tasks %}
        <ul class="task-list">
            {% for task in tasks %}
                <li class="{% if task[2] %}completed{% endif %}">
                    {{ task[1] }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no tasks assigned.</p>
    {% endif %}
</div>
{% endblock %}