{% extends "base_auth.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post" action="/register">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="birth_date">Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" required>

        <label for="street">Street and House Number:</label>
        <input type="text" id="street" name="street" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <label for="postcode">Postcode:</label>
        <input type="text" id="postcode" name="postcode" required>

        <label for="household_name">Household Name (optional):</label>
        <input type="text" id="household_name" name="household_name">
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endblock %}